# mysqld_multi --defaults-file=/usr/local/etc/my.cnf start

[mysqld_multi]  
mysqld = /usr/local/opt/mysql@5.7/bin/mysqld_safe 
mysqladmin = /usr/local/opt/mysql@5.7/bin/mysqladmin 
user = root  
#password = root  
  
[mysqld3307]  
port = 3307  
socket = /tmp/mysql.3307.sock
pid-file = /usr/local/opt/mysql@5.7/data/data1/db-app1.pid
datadir = /usr/local/opt/mysql@5.7/data/data1  
basedir = /usr/local/opt/mysql@5.7
user = root

[mysqld3308]
port = 3308
socket = /tmp/mysql.3308.sock
pid-file = /usr/local/opt/mysql@5.7/data/data2/db-app2.pid
datadir = /usr/local/opt/mysql@5.7/data/data2  
basedir = /usr/local/opt/mysql@5.7
user = root
  
[mysqldump]  
quick  
max_allowed_packet = 16M  
  
[mysql]  
no-auto-rehash  
  
[isamchk]  
key_buffer = 128M  
sort_buffer_size = 128M  
read_buffer = 2M  
write_buffer = 2M  
  
[myisamchk]  
key_buffer = 128M  
sort_buffer_size = 128M  
read_buffer = 2M  
write_buffer = 2M  
  
[mysqlhotcopy]  
interactive-timeout  