.main-panel{
  width: 100%;
  flex-direction: column;
}
swan-loading{
  position: fixed
}
.list-header{
  flex-direction: column;
  border-bottom-width: 0.13333333333333333vw;
  border-bottom-color: #cfcfcf;
}
.more-comment{
  width: 100vw;
  background-color: #f5f5f5;
  padding-top: 4vw;
}
.load-more {
  display: flex;
  justify-content: center;
  padding-bottom: 1.3333333333333333vw;
}
.load-more swan-text{
  font-size: 3.7333333333333334vw;
}