# This is demonstration about wechat-mini-app-platform API spec in YAML
# Allow Data Type: string, number, boolean, integer, array, file
swagger: '2.0'
info:
  title: Wechat-mini-app-platform API
  description: This is demonstration about Wechat-mini-app-platform  API spec in YAML.
  version: "0.0.1"
host: api.newcloudplatform.com
schemes:
  - http
  - https
basePath: /api
produces:
  - application/json
paths:
# mini app qrcode  
  /apps/{app_id}/wechat/qrcode:
    get:
      summary: Get qrcode
      description: |
        Get qrcode about app
      operationId: getQrcode
      parameters:
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: path
          in: query
          description: Path of the qrcode
          required: true
          type: string
        - name: width
          in: query
          description: the width of qrcode
          required: true
          type: integer
      tags:
        - Apps
      responses:
        200:
          description: Get the qrcode success
        404:
          description: Qrcode can not be retrurned
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"

# apps in Wechat Mini App Platform   
  /apps:
    get:
      summary: Wechat Mini App Platform Apps
      description: |
        The apps from Wechat Mini App Platform.
      operationId: getAppList
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: limit
          in: query
          description: limit the count of the return items
          required: false
          type: integer
        - name: offset
          in: query
          description: the start of the return items
          required: false
          type: integer
        - name: order_by
          in: query
          description: the sequence of the return items
          required: false
          type: string
        - name: search
          in: query
          description: filtered by search text
          required: false
          type: string
      tags:
        - Apps
      responses:
        200:
          description: return queried apps from Wechat Mini App Platform
          schema:
            type: object
            properties:
              total:
                type: integer
                example: 100
              limit:
                type: integer
                example: 10
              offset:
                type: integer
                example: 20
              data:
                type: array
                items:
                  $ref: "#/definitions/App"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a new Wechat Mini App Platform app
      description: |
        Create a new Wechat Mini App Platform app
      operationId: createApp
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app
          in: body
          description: Data to create an app
          required: true
          schema:
            $ref: "#/definitions/App"
      tags:
        - Apps
      responses:
        200:
          description: return app created
          schema:
            $ref: "#/definitions/App"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# app in Wechat Mini App Platform            
  /apps/{id}:
    get:
      summary: Get a Wechat Mini App Platform app details
      description: |
        Return Wechat Mini App Platform app details
      operationId: getApp
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
      tags:
        - Apps
      responses:
        200:
          description: App details
          schema:
            $ref: "#/definitions/App"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update a Wechat Mini App Platform app
      description: |
        Update app by id
      operationId: updateApp
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: app
          in: body
          schema:
            $ref: "#/definitions/App"
          description: Data for updating app
          required: true
      tags:
        - Apps
      responses:
        200:
          description: Return app updated
          schema:
            $ref: "#/definitions/App"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Delete a Wechat Mini App Platform app
      description: |
        Delete app by id
      operationId: deleteApp
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
      tags:
        - Apps
      responses:
        200:
          description: Successfully deleted app
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

#  fetch an app details include products
  /apps/{id}/details:
    get:
      summary: Fetch app details
      description: |
        Fetch all categories and products of an app
      operationId: getAppWithProducts
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
      tags:
        - Apps
      responses:
        200:
          description: Fetch app details success
          schema:
            $ref: '#/definitions/App'
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# user login  from cms
  /apps/{id}/login:
    post:
      summary: Wechat user login in Wechat Mini App Platform CMS
      description: |
        Login in CMS
      operationId: login
      parameters:
        - name: id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: data
          in: body
          description: Data for login
          required: true
          schema:
            type: object
            properties:
              phone:
                type: string
              password:
                type: string
      tags:
        - Apps
      responses:
        200:
          description: Login success
          schema:
            type: object
            properties:
              auth_token:
                type: string
        401:
          description: Login failed
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# user login from mini app 
  /apps/{id}/wechat/login:
    post:
      summary: Wechat user login in a Wechat Mini App Platform app
      description: |
        Login in with wechat code
      operationId: wechatLogin
      parameters:
        - name: id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: data
          in: body
          description: Data for login
          required: true
          schema:
            type: object
            properties:
              code:
                type: string
      tags:
        - Apps
      responses:
        200:
          description: Login success
          schema:
            type: object
            properties:
              auth_token:
                type: string
        401:
          description: Login failed
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# desrypt wechat data            
  /apps/{id}/wechat/decrypt_data:
    get:
      summary: Decrypt wechat data
      description: |
        Decrypt wechat data
      operationId: decrypteWechatData
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: data
          in: body
          description: Data to be decrypted
          required: true
          schema:
            type: object
            properties:
              data:
                type: string
              iv:
                type: string
      tags:
        - Apps
      responses:
        200:
          description: Login success
          schema:
            type: object
            properties:
              auth_token:
                type: string
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# wechat mini app function manage  
  /apps/{app_id}/app_functions:
    get:
      summary: Fetch app functions
      description: Get all app functions
      operationId: getFunctionList
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: limit
          in: query
          description: Limit the count of the return items
          required: false
          type: integer
        - name: offset
          in: query
          description: The start of the return items
          required: false
          type: integer
        - name: order_by
          in: query
          description: the sequence of the return items
          required: false
          type: string
        - name: sort
          in: query
          description: the sequence of the return items
          required: false
          type: string
        - name: search
          in: query
          description: Filtered by search text
          required: false
          type: string
      tags:
        - AppFunctions
      responses:
        200:
          description: Returns all app_functions for this app
          schema:
            type: object
            properties:
              total:
                type: integer
                example: 100
              limit:
                type: integer
                example: 10
              offset:
                type: integer
                example: 20
              data:
                type: array
                items:
                  $ref: "#/definitions/AppFunction"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a new app function
      description: |
        Create a new function in app
      operationId: createFunction
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: function
          in: body
          description: The new functionality of this app
          required: true
          schema:
            $ref: "#/definitions/AppFunction"
      tags:
        - AppFunctions
      responses:
        200:
          description: return the app_function
          schema:
            $ref: "#/definitions/AppFunction"
        404:
          description: App not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'            
  /apps/{app_id}/app_functions/{id}:
    delete:
      summary: Delete a app function
      description: |
        Delete a app function
      operationId: deleteFuntion
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: The id of this app function
          required: true
          type: integer
      tags:
        - AppFunctions
      responses:
        200:
          description: Return the app_function
          schema:
            $ref: "#/definitions/AppFunction"
        404:
          description: App function not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# wechat mini app order(wechat pay) 
  /apps/{app_id}/orders/{order_id}/wechat/pay:
    post:
      summary: Start wechat pay in a Wechat Mini App Platform app
      description: |
        Start a wechat pay for order
      operationId: wechatPay
      parameters:
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: order_id
          in: path
          description: Id of an order
          required: true
          type: string
      tags:
        - Pay
      responses:
        200:
          description: Create pay order success
          schema:
            type: object
            properties:
              prepay_id:
                type: string
              paySign:
                type: string
              pay_order_id:
                type: string
        401:
          description: Login failed
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# wechat mini app order(credit pay)
  /apps/{app_id}/orders/{order_id}/credit/pay:
    post:
      summary: Start credit pay in a Wechat Mini App Platform app
      description: |
        Start a credit pay for order
      operationId: createCreditPay
      parameters:
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: order_id
          in: path
          description: Id of an order
          required: true
          type: string
      tags:
        - Pay
      responses:
        200:
          description: Create pay order success
          schema:
            type: object
            properties:
              more_message:
                type: string
        401:
          description: Login failed
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# admin 
  /admin/apps/{app_id}:
    put:
      summary: Update a Wechat Mini App Platform app
      description: |
        Update app by app_id
      operationId: updateAppByAdmin
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: app
          in: body
          schema:
            $ref: "#/definitions/App"
          description: Data for updating app
          required: true
      tags:
        - Admin
      responses:
        200:
          description: Return app updated
          schema:
            $ref: "#/definitions/App"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App not found by app_id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /admin/apps/{app_id}/users:
    get:
      summary: Wechat Mini App Platform Admin Users of An App
      description: |
        The admin users of Wechat Mini App Platform app.
      operationId: getAppAdminList
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: limit
          in: query
          description: limit the count of the return items
          required: false
          type: integer
        - name: offset
          in: query
          description: the start of the return items
          required: false
          type: integer
        - name: order_by
          in: query
          description: the sequence of the return items
          required: false
          type: string
        - name: search
          in: query
          description: filtered by search text
          required: false
          type: string
      tags:
        - Admin
      responses:
        200:
          description: return queried  users of Wechat Mini App Platform app
          schema:
            type: object
            properties:
              total:
                type: integer
                example: 100
              limit:
                type: integer
                example: 10
              offset:
                type: integer
                example: 10
              data:
                type: array
                items:
                  $ref: "#/definitions/User"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a new user for an app
      description: |
        Create a new user for an app
      operationId: createAdmin
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: user
          in: body
          description: Data to create a user
          required: true
          schema:
            $ref: "#/definitions/User"
      tags:
        - Admin
      responses:
        201:
          description: Return user been created
          schema:
            $ref: "#/definitions/User"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /admin/apps/{app_id}/users/{id}:
    get:
      summary: Get a admin user of a Wechat Mini App Platform app
      description: |
        Return a admin user of a Wechat Mini App Platform app
      operationId: getAdmin
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of the Wechat Mini App Platform user
          required: true
          type: string
      tags:
        - Admin
      responses:
        200:
          description: User info
          schema:
            $ref: "#/definitions/User"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App or user not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update an admin user of Wechat Mini App Platform app
      description: |
        Update admin user by id
      operationId: updateAdmin
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of the Wechat Mini App Platform user
          required: true
          type: string
        - name: user
          in: body
          schema:
            $ref: "#/definitions/User"
          description: Data for updating user
          required: true
      tags:
        - Admin
      responses:
        200:
          description: Return user updated
          schema:
            $ref: "#/definitions/User"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App or user not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Delete a admin user of a Wechat Mini App Platform app
      description: |
        Delete admin user by id
      operationId: deleteAdmin
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of the Wechat Mini App Platform user
          required: true
          type: string
      tags:
        - Admin
      responses:
        200:
          description: Successfully deleted user
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App or user not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# user
  /apps/{app_id}/users:
    get:
      summary: Wechat Mini App Platform Users
      description: |
        The users of Wechat Mini App Platform app.
      operationId: getUserList
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: limit
          in: query
          description: limit the count of the return items
          required: false
          type: integer
        - name: offset
          in: query
          description: the start of the return items
          required: false
          type: integer
        - name: order_by
          in: query
          description: the sequence of the return items
          required: false
          type: string
        - name: search
          in: query
          description: filtered by search text
          required: false
          type: string
      tags:
        - Users
      responses:
        200:
          description: return queried users of Wechat Mini App Platform app
          schema:
            type: object
            properties:
              total:
                type: integer
                example: 100
              limit:
                type: integer
                example: 10
              offset:
                type: integer
                example: 10
              data:
                type: array
                items:
                  $ref: "#/definitions/User"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a new user
      description: |
        Create a new user
      operationId: createUser
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: user
          in: body
          description: Data to create a user
          required: true
          schema:
            $ref: "#/definitions/User"
      tags:
        - Users
      responses:
        201:
          description: Return user been created
          schema:
            $ref: "#/definitions/User"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /apps/{app_id}/users/{id}:
    get:
      summary: Get a Wechat Mini App Platform app details
      description: |
        Return Wechat Mini App Platform app details
      operationId: getUser
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of the Wechat Mini App Platform user
          required: true
          type: string
      tags:
        - Users
      responses:
        200:
          description: User info
          schema:
            $ref: "#/definitions/User"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App or user not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update a Wechat Mini App Platform user
      description: |
        Update user by id
      operationId: updateUser
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of the Wechat Mini App Platform user
          required: true
          type: string
        - name: user
          in: body
          schema:
            $ref: "#/definitions/User"
          description: Data for updating user
          required: true
      tags:
        - Users
      responses:
        200:
          description: Return user updated
          schema:
            $ref: "#/definitions/User"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App or user not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Delete a Wechat Mini App Platform user
      description: |
        Delete user by id
      operationId: deleteUser
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of the Wechat Mini App Platform user
          required: true
          type: string
      tags:
        - Users
      responses:
        200:
          description: Successfully deleted user
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App or user not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# categories
  /apps/{app_id}/categories:
    get:
      summary: Get the whole category tree
      description: |
        Return the whole category tree belongs to app
      operationId: getCategoryList
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
      tags:
        - Categories
      responses:
        200:
          description: Return all categories in app
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: "#/definitions/Category"
        404:
          description: App not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a new category
      description: |
        Create a new category
      operationId: createCategory
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: category
          in: body
          description: Data to create a category
          required: true
          schema:
            $ref: "#/definitions/Category"
      tags:
        - Categories
      responses:
        201:
          description: Return category been created
          schema:
            $ref: "#/definitions/Category"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /apps/{app_id}/categories/{id}:
    get:
      summary: Get a category by id
      description: |
        Get a category
      operationId: getCategory
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Category id
          required: true
          type: string
      tags:
        - Categories
      responses:
        200:
          description: Return a category
          schema:
            $ref: "#/definitions/Category"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update a category
      description: |
        Upate a categor
      operationId: updateCategory
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: category id
          required: true
          type: string
        - name: category
          in: body
          description: Data to Upate a category
          required: true
          schema:
            $ref: "#/definitions/Category"
      tags:
        - Categories
      responses:
        200:
          description: return category just been updated
          schema:
            $ref: "#/definitions/Category"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Delete an empty category
      description: |
        Delete an empty category
      operationId: deleteCategory
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of category
          required: true
          type: string
      tags:
        - Categories
      responses:
        200:
          description: successfully deleted category
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# feedback
  /apps/{app_id}/feedbacks:
    get:
      summary: Get all the feedback for this app_id
      description: |
        Get all the feedback for this app_id
      operationId: getFeedbackList
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: limit
          in: query
          description: Limit the count of the return items
          required: false
          type: integer
        - name: offset
          in: query
          description: The start of the return items
          required: false
          type: integer
        - name: order_by
          in: query
          description: the sequence of the return items
          required: false
          type: string
        - name: sort
          in: query
          description: the sequence of the return items
          required: false
          type: string
        - name: search
          in: query
          description: Filtered by search text
          required: false
          type: string
      tags:
        - Feedbacks
      responses:
        200:
          description: Returns all feedback for this app
          schema:
            type: object
            properties:
              total:
                type: integer
                example: 100
              limit:
                type: integer
                example: 10
              offset:
                type: integer
                example: 20
              data:
                type: array
                items:
                  $ref: "#/definitions/Feedback"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a feedback
      description: |
        Create a feedback
      operationId: createFeedback
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: feedback
          in: body
          description: Data for create a feedback
          required: true
          schema:
            $ref: "#/definitions/Feedback"
      tags:
        - Feedbacks
      responses:
        201:
          description: Return feedback created
          schema:
            $ref: "#/definitions/Comment"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App or user not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /apps/{app_id}/feedback/{feedback_id}/actions/reply:
    post:
      summary: Create a feedback
      description: |
        Create a feedback
      operationId: relayFeedback
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: feedback_id
          in: path
          description: The origin of this commentary feedback id
          required: true
          type: string
        - name: feedback
          in: body
          description: Data for create a feedback
          required: true
          schema:
            $ref: "#/definitions/Feedback"
      tags:
        - Feedbacks
      responses:
        201:
          description: Return feedback created
          schema:
            $ref: "#/definitions/Feedback"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App or user not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /apps/{app_id}/users/{user_id}/feedbacks:
    get:
      summary: Get this user_id for all feedback on this app_id
      description: |
        Get this user_id for all feedback on this app_id
      operationId: getFeedback
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: user_id
          in: path
          description: Query the user's id
          required: true
          type: string
        - name: limit
          in: query
          description: Limit the count of the return items
          required: false
          type: integer
        - name: offset
          in: query
          description: The start of the return items
          required: false
          type: integer
        - name: order_by
          in: query
          description: the sequence of the return items
          required: false
          type: string
        - name: sort
          in: query
          description: the sequence of the return items
          required: false
          type: string
        - name: search
          in: query
          description: Filtered by search text
          required: false
          type: string
      tags:
        - Feedbacks
      responses:
        200:
          description: Returns all feedback for this user_id
          schema:
            type: object
            properties:
              total:
                type: integer
                example: 100
              limit:
                type: integer
                example: 10
              offset:
                type: integer
                example: 20
              data:
                type: array
                items:
                  $ref: "#/definitions/Feedback"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# products
  /apps/{app_id}/products:
    get:
      summary: Get all products
      description: |
        Return all products belongs to app
      operationId: getProductList
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: category
          in: query
          description: Category filter of products
          required: false
          type: string
        - name: limit
          in: query
          description: Limit the count of the return items
          required: false
          type: integer
        - name: offset
          in: query
          description: The start of the return items
          required: false
          type: integer
        - name: order_by
          in: query
          description: the sequence of the return items
          required: false
          type: string
        - name: search
          in: query
          description: Filtered by search text
          required: false
          type: string
      tags:
        - Products
      responses:
        200:
          description: Return all queried products
          schema:
            type: object
            properties:
              total:
                type: integer
                example: 10
              limit:
                type: integer
                example: 10
              offset:
                type: integer
                example: 10
              data:
                type: array
                items:
                  $ref: "#/definitions/Product"
        404:
          description: App not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a new product
      description: |
        Create a new product in app
      operationId: createProduct
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: product
          in: body
          description: Data to create a product
          required: true
          schema:
            $ref: "#/definitions/Product"
      tags:
        - Products
      responses:
        201:
          description: return product created
          schema:
            $ref: "#/definitions/Product"
        404:
          description: App not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /apps/{app_id}/products/{id}:
    get:
      summary: Get a product by id
      description: |
        Return product details
      operationId: getProduct
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of product
          required: true
          type: string
      tags:
        - Products
      responses:
        200:
          description: Product details
          schema:
            $ref: "#/definitions/Product"
        404:
          description: App or product not found by id
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
    put:
      summary: Update a product
      description: |
        Update a product
      operationId: updateProduct
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of product
          required: true
          type: string
        - name: product
          in: body
          description: Data to create a product
          required: true
          schema:
            $ref: "#/definitions/Product"
      tags:
        - Products
      responses:
        200:
          description: Return product updated
          schema:
            $ref: "#/definitions/Product"
        404:
          description: App or product not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Delete a product
      description: |
        Delete a product
      operationId: deleteProduct
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of product
          required: true
          type: string
      tags:
        - Products
      responses:
        200:
          description: Successfully deleted product
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# custom_products
  /apps/{app_id}/custom_products:
    get:
      summary: Get all custom products
      description: |
        Return all custom products belongs to app
      operationId: getCustomProductList
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: limit
          in: query
          description: Limit the count of the return items
          required: false
          type: integer
        - name: offset
          in: query
          description: The start of the return items
          required: false
          type: integer
        - name: order_by
          in: query
          description: the sequence of the return items
          required: false
          type: string
        - name: search
          in: query
          description: Filtered by search text
          required: false
          type: string
      tags:
        - CustomProducts
      responses:
        200:
          description: Return all queried custom products
          schema:
            type: object
            properties:
              total:
                type: integer
                example: 10
              limit:
                type: integer
                example: 10
              offset:
                type: integer
                example: 10
              data:
                type: array
                items:
                  $ref: "#/definitions/CustomProduct"
        404:
          description: App not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a new custom_product
      description: |
        Create a new custom_product in app
      operationId: createCustomProduct
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: custom_product
          in: body
          description: Data to create a custom_product
          required: true
          schema:
            $ref: "#/definitions/CustomProduct"
      tags:
        - CustomProducts
      responses:
        201:
          description: return custom_product created
          schema:
            $ref: "#/definitions/CustomProduct"
        404:
          description: App not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /apps/{app_id}/custom_products/{id}:
    get:
      summary: Get a custom_product by id
      description: |
        Return custom_product details
      operationId: getCustomProduct
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of custom_product
          required: true
          type: string
      tags:
        - CustomProducts
      responses:
        200:
          description: CustomProduct details
          schema:
            $ref: "#/definitions/CustomProduct"
        404:
          description: App or custom_product not found by id
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
    put:
      summary: Update a custom_product
      description: |
        Update a custom_product
      operationId: updateCustomProduct
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of custom_product
          required: true
          type: string
        - name: custom_product
          in: body
          description: Data to create a custom_product
          required: true
          schema:
            $ref: "#/definitions/CustomProduct"
      tags:
        - CustomProducts
      responses:
        200:
          description: Return custom_product updated
          schema:
            $ref: "#/definitions/CustomProduct"
        404:
          description: App or custom_product not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Delete a custom_product
      description: |
        Delete a custom_product
      operationId: deleteCustomProduct
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of custom_product
          required: true
          type: string
      tags:
        - CustomProducts
      responses:
        200:
          description: Successfully deleted custom_product
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /apps/{app_id}/custom_products/{id}/actions/confirm:
    put:
      summary: Confirm a custom_product
      description: |
        Confirm a custom_product
      operationId: confirmCustomProduct
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of custom_product
          required: true
          type: string
      tags:
        - CustomProducts
      responses:
        200:
          description: Successfully Confirm custom_product
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# services
  /apps/{app_id}/services:
    get:
      summary: Get all services
      description: |
        Return all services belongs to app
      operationId: getServiceList
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: type
          in: query
          description: Type filter of services
          required: false
          type: string
        - name: limit
          in: query
          description: Limit the count of the return items
          required: false
          type: integer
        - name: offset
          in: query
          description: The start of the return items
          required: false
          type: integer
        - name: order_by
          in: query
          description: the sequence of the return items
          required: false
          type: string
        - name: search
          in: query
          description: Filtered by search text
          required: false
          type: string
      tags:
        - Services
      responses:
        200:
          description: Return all queried services
          schema:
            type: object
            properties:
              total:
                type: integer
                example: 10
              limit:
                type: integer
                example: 10
              offset:
                type: integer
                example: 10
              data:
                type: array
                items:
                  $ref: "#/definitions/Service"
        404:
          description: App not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a new service
      description: |
        Create a new service in app
      operationId: createService
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: service
          in: body
          description: Data to create a service
          required: true
          schema:
            $ref: "#/definitions/Service"
      tags:
        - Services
      responses:
        201:
          description: return service created
          schema:
            $ref: "#/definitions/Service"
        404:
          description: App not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /apps/{app_id}/services/{id}:
    get:
      summary: Get a service by id
      description: |
        Return service details
      operationId: getService
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of service
          required: true
          type: string
      tags:
        - Services
      responses:
        200:
          description: Service details
          schema:
            $ref: "#/definitions/Service"
        404:
          description: App or product not found by id
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
    put:
      summary: Update a service
      description: |
        Update a service
      operationId: updateService
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of service
          required: true
          type: string
        - name: service
          in: body
          description: Data to create a service
          required: true
          schema:
            $ref: "#/definitions/Service"
      tags:
        - Services
      responses:
        200:
          description: Return service updated
          schema:
            $ref: "#/definitions/Service"
        404:
          description: App or service not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Delete a service
      description: |
        Delete a service
      operationId: deleteService
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of service
          required: true
          type: string
      tags:
        - Services
      responses:
        200:
          description: Successfully deleted service
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# cart
  /apps/{app_id}/users/{user_id}/cart:
    get:
      summary: Get the cart of user
      description: |
        Get the cart of user
      operationId: getUserCart
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: user_id
          in: path
          description: Id of the Wechat Mini App Platform user
          required: true
          type: string
      tags:
        - Cart
      responses:
        200:
          description: Return cart of user
          schema:
            type: object
            properties:
              total:
                type: integer
                example: 100
              limit:
                type: integer
                example: 10
              offset:
                type: integer
                example: 20
              data:
                type: array
                items:
                  $ref: "#/definitions/CartItem"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /apps/{app_id}/users/{user_id}/cart/products/{product_id}/add:
    put:
      summary: Add product in cart
      description: |
        Add product in cart
      operationId: updateUserCart
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: user_id
          in: path
          description: Id of the Wechat Mini App Platform user
          required: true
          type: string
        - name: product_id
          in: path
          description: Id of product
          required: true
          type: string
        - name: data
          in: body
          description: Data to add product in cart
          required: true
          schema:
            $ref: "#/definitions/CartItem"
      tags:
        - Cart
      responses:
        200:
          description: Return cart item been created or updated
          schema:
            $ref: "#/definitions/CartItem"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /apps/{app_id}/users/{user_id}/cart/products/{product_id}/remove:
    put:
      summary: Remove product in cart
      description: |
        Remove product in cart
      operationId: deleteCart
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: user_id
          in: path
          description: Id of the Wechat Mini App Platform user
          required: true
          type: string
        - name: product_id
          in: path
          description: Id of product
          required: true
          type: string
        - name: data
          in: body
          description: Data to add product in cart
          required: true
          schema:
            $ref: "#/definitions/CartItem"
      tags:
        - Cart
      responses:
        200:
          description: Return cart item been removed or updated
          schema:
            $ref: "#/definitions/CartItem"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# orders
  /apps/{app_id}/users/{user_id}/orders:
    get:
      summary: Get orders of  a Wechat Mini App Platform user
      description: |
        Get orders of  a Wechat Mini App Platform user
      operationId: getOrderListByUserId
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: user_id
          in: path
          description: Id of the Wechat Mini App Platform user
          required: true
          type: string
        - name: status
          in: query
          description: Status of the order, like TO_BE_PAYED, TO_BE_CONFIRMED_WITH_PAYMENT, SERVING, DONE, CANCELED
          required: false
          type: string
        - name: limit
          in: query
          description: Limit the count of the return items
          required: false
          type: integer
        - name: offset
          in: query
          description: The start of the return items
          required: false
          type: integer
        - name: order_by
          in: query
          description: the sequence of the return items
          required: false
          type: string
        - name: search
          in: query
          description: Filtered by search text
          required: false
          type: string
      tags:
        - Orders
      responses:
        200:
          description: Return orders of user
          schema:
            type: object
            properties:
              total:
                type: integer
                example: 100
              limit:
                type: integer
                example: 10
              offset:
                type: integer
                example: 20
              data:
                type: array
                items:
                  $ref: "#/definitions/Order"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App or user not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a order for user
      description: |
        Create a order for user
      operationId: createOrderForUser
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: user_id
          in: path
          description: Id of the Wechat Mini App Platform user
          required: true
          type: string
      tags:
        - Orders
      responses:
        201:
          description: Return order created
          schema:
            $ref: "#/definitions/Order"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App or user not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /apps/{app_id}/orders:
    get:
      summary: Get orders of  a Wechat Mini App Platform app
      description: |
        Get orders of  a Wechat Mini App Platform app
      operationId: getOrderList
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: status
          in: query
          description: Status of the order, like TO_BE_PAYED, TO_BE_CONFIRMED_WITH_PAYMENT, SERVING, DONE, CANCELED
          required: false
          type: string
        - name: limit
          in: query
          description: Limit the count of the return items
          required: false
          type: integer
        - name: offset
          in: query
          description: The start of the return items
          required: false
          type: integer
        - name: order_by
          in: query
          description: the sequence of the return items
          required: false
          type: string
        - name: search
          in: query
          description: Filtered by search text
          required: false
          type: string
      tags:
        - Orders
      responses:
        200:
          description: Return orders of app
          schema:
            type: object
            properties:
              total:
                type: integer
                example: 100
              limit:
                type: integer
                example: 10
              offset:
                type: integer
                example: 20
              data:
                type: array
                items:
                  $ref: "#/definitions/Order"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a order
      description: |
        Create a order
      operationId: createOrder
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: order
          in: body
          description: Data for create an order
          required: true
          schema:
            $ref: "#/definitions/Order"
      tags:
        - Orders
      responses:
        201:
          description: Return order created
          schema:
            $ref: "#/definitions/Order"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App or user not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /apps/{app_id}/orders/{id}:
    get:
      summary: Get order details
      description: |
        Get order details
      operationId: getOrder
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of order
          required: true
          type: string
      tags:
        - Orders
      responses:
        200:
          description: Return order details
          schema:
            $ref: "#/definitions/Order"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App, user or order not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update a order
      description: |
        Update a order
      operationId: updateOrder
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of order
          required: true
          type: string
        - name: order
          in: body
          schema:
            $ref: "#/definitions/Order"
          description: Data for updating order
          required: true
      tags:
        - Orders
      responses:
        200:
          description: Return order updated
          schema:
            $ref: "#/definitions/Order"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App, user or order not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Cancel an order
      description: |
        Cancel an order
      operationId: deleteOrder
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of order
          required: true
          type: string
      tags:
        - Orders
      responses:
        200:
          description: Return order details
          schema:
            $ref: "#/definitions/Order"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App, user or order not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /apps/{app_id}/orders/{id}/products/{product_id}/add:
    put:
      summary: Add product into order
      description: |
        Add product into order
      operationId: addProductToOrder
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of the order
          required: true
          type: string
        - name: product_id
          in: path
          description: Id of product
          required: true
          type: string
      tags:
        - Orders
      responses:
        200:
          description: Return order been updated
          schema:
            $ref: "#/definitions/Order"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /apps/{app_id}/orders/{id}/products/{product_id}/remove:
    put:
      summary: Remove product from order
      description: |
        Remove product from order
      operationId: deleteProductFromOrder
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of the order
          required: true
          type: string
        - name: product_id
          in: path
          description: Id of product
          required: true
          type: string
      tags:
        - Orders
      responses:
        200:
          description: Return order been updated
          schema:
            $ref: "#/definitions/Order"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# comments
  /apps/{app_id}/orders/{order_id}/comments:
    get:
      summary: Get orders of  a Wechat Mini App Platform app
      description: |
        Get orders of  a Wechat Mini App Platform app
      operationId: getCommentList
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: order_id
          in: path
          description: Id of order
          required: true
          type: string
        - name: limit
          in: query
          description: Limit the count of the return items
          required: false
          type: integer
        - name: offset
          in: query
          description: The start of the return items
          required: false
          type: integer
        - name: order_by
          in: query
          description: the sequence of the return items
          required: false
          type: string
        - name: sort
          in: query
          description: the sequence of the return items
          required: false
          type: string
        - name: search
          in: query
          description: Filtered by search text
          required: false
          type: string
      tags:
        - Comments
      responses:
        200:
          description: Return comments of an order
          schema:
            type: object
            properties:
              total:
                type: integer
                example: 100
              limit:
                type: integer
                example: 10
              offset:
                type: integer
                example: 20
              data:
                type: array
                items:
                  $ref: "#/definitions/Comment"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a comment
      description: |
        Create a comment
      operationId: createComment
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: order_id
          in: path
          description: Id of order
          required: true
          type: string
        - name: comment
          in: body
          description: Data for create a comment
          required: true
          schema:
            $ref: "#/definitions/Comment"
      tags:
        - Comments
      responses:
        201:
          description: Return comment created
          schema:
            $ref: "#/definitions/Comment"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App or user not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# phone_fee_recharge
  /apps/{app_id}/orders/{order_id}/actions/phone_fee_recharge:
    post:
      summary: Recharge mobile phone calls
      description: |
        Recharge mobile phone calls
      operationId: rechargePhone
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: order_id
          in: path
          description: 32-bit long and unique order number
          required: true
          type: string
      tags:
        - ThirdPartyServices
      responses:
        200:
          description: Recharge the phone number and amount
          schema:
            type: object
            properties:
              phone:
                type: integer
              face:
                type: integer
        404:
          description: order_id or user not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# statistics
  /apps/{app_id}/statistics/orders:
    get:
      summary: Get the statistics of orders
      description: |
        Get the statistics of orders
      operationId: getOrderStatistics
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: start_time
          in: query
          description: the start time of orders
          required: false
          type: string
      tags:
        - Statistics
      responses:
        200:
          description: Statistics of orders
          schema:
            $ref: "#/definitions/OrderStatistic"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /apps/{app_id}/statistics/order_products:
    get:
      summary: Get the statistics of order_products
      description: |
        Get the statistics of order_products
      operationId: getProductStatistics
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: start_time
          in: query
          description: the start time of orders
          required: false
          type: string
      tags:
        - Statistics
      responses:
        200:
          description: Statistics of order_products
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: "#/definitions/Product"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# market activity
  /apps/{app_id}/marketing_activities:
    get:
      summary: Fetch app marketing activities
      description: Get all marketing activities
      operationId: getMarketingActivityList
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: type
          in: query
          description: Type filter of marketing activity
          required: false
          type: string
        - name: status
          in: query
          description: Status filter of marketing activity
          required: false
          type: string
        - name: limit
          in: query
          description: Limit the count of the return items
          required: false
          type: integer
        - name: offset
          in: query
          description: The start of the return items
          required: false
          type: integer
        - name: order_by
          in: query
          description: the sequence of the return items
          required: false
          type: string
        - name: sort
          in: query
          description: the sequence of the return items
          required: false
          type: string
        - name: search
          in: query
          description: Filtered by search text
          required: false
          type: string
      tags:
        - MarketingActivities
      responses:
        200:
          description: Returns all marketing activities for this app
          schema:
            type: object
            properties:
              total:
                type: integer
                example: 100
              limit:
                type: integer
                example: 10
              offset:
                type: integer
                example: 20
              data:
                type: array
                items:
                  $ref: "#/definitions/MarketingActivity"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a new marketing activity
      description: create a new marketing activity
      operationId: createMarketingActivity
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: marketing_activity
          in: body
          description: The new marketing activity of this app
          required: true
          schema:
            $ref: "#/definitions/MarketingActivity"
      tags:
        - MarketingActivities
      responses:
        200:
          description: Return marketing activity of app
          schema:
            $ref: "#/definitions/MarketingActivity"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /apps/{app_id}/marketing_activities/{id}:
    get:
      summary: Get a marketing activity
      description: |
        Get a marketing activity
      operationId: getMarketingActivity
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of the Wechat Mini App Platform marketing_activity
          required: true
          type: string
      tags:
        - MarketingActivities
      responses:
        200:
          description: Return a marketing activity
          schema:
            $ref: "#/definitions/MarketingActivity"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update a marketing activity action
      description: |
        Update a marketing activity action
      operationId: updateMarketingActivity
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: credit action id
          required: true
          type: string
        - name: marketing_activity
          in: body
          description: Data to Upate a marketing_activity
          required: true
          schema:
            $ref: "#/definitions/MarketingActivity"
      tags:
        - MarketingActivities
      responses:
        200:
          description: return credit action just been updated
          schema:
            $ref: "#/definitions/MarketingActivity"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Delete a marketing activity
      description: |
        Delete a marketing activity
      operationId: deleteMarketingActivity
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of marketing activity
          required: true
          type: integer
      tags:
        - MarketingActivities
      responses:
        200:
          description: Return marketing activity been deleted
          schema:
            $ref: "#/definitions/MarketingActivity"
        404:
          description: App or marketing activity not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# queue
  /apps/{app_id}/queuing:
    get:
      summary: Get flappers of  a Wechat Mini App Platform app
      description: |
        Get flappers of  a Wechat Mini App Platform app
      operationId: getFlapperList
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: limit
          in: query
          description: Limit the count of the return items
          required: false
          type: integer
        - name: offset
          in: query
          description: The start of the return items
          required: false
          type: integer
        - name: order_by
          in: query
          description: the sequence of the return items
          required: false
          type: string
        - name: sort
          in: query
          description: the sequence of the return items
          required: false
          type: string
        - name: search
          in: query
          description: Filtered by search text
          required: false
          type: string
      tags:
        - Services
      responses:
        200:
          description: Return flappers of app
          schema:
            type: object
            properties:
              total:
                type: integer
                example: 100
              limit:
                type: integer
                example: 10
              offset:
                type: integer
                example: 20
              data:
                type: array
                items:
                  $ref: "#/definitions/Flapper"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /apps/{app_id}/users/{user_id}/queuing:
    get:
      summary: Get flappers of user queuing
      description: |
        Get flappers of user queuing
      operationId: getFlapper
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: user_id
          in: path
          description: Id of the Wechat Mini App Platform user
          required: true
          type: string
      tags:
        - Services
      responses:
        200:
          description: Return flappers
          schema:
            type: array
            items:
              $ref: "#/definitions/Flapper"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Queuing for the user
      description: |
        Create an flapper
      operationId: createFlapper
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: user_id
          in: path
          description: Id of the Wechat Mini App Platform user
          required: true
          type: string
        - name: flapper
          in: body
          description: Data for create an flapper
          required: true
          schema:
            $ref: "#/definitions/Flapper"
      tags:
        - Services
      responses:
        201:
          description: Return flapper created
          schema:
            $ref: "#/definitions/Flapper"
        401:
          description: Unauthorized to access the service
          schema:
            $ref: '#/definitions/Error'
        404:
          description: App or user not found by id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# flapper
  /apps/{app_id}/flappers/{id}:
    put:
      summary: Update a Wechat Mini App Platform flapper
      description: |
        Update flapper by id
      operationId: updateFlapper
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: id
          in: path
          description: Id of the Wechat Mini App Platform flapper
          required: true
          type: integer
        - name: flapper
          in: body
          description: Update the status of the flapper
          required: true
          schema:
            $ref: "#/definitions/Flapper"
      tags:
        - Flappers
      responses:
        200:
          description: Return flapper updated
          schema:
            $ref: "#/definitions/Flapper"
        404:
          description: App or flapper not found by app_id or id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

# appointments
  /apps/{app_id}/appointments:
    get:
      summary: Get appointments of  a Wechat Mini App Platform app
      description: |
        Get appointments of  a Wechat Mini App Platform app
      operationId: getAppointmentList
      parameters:
        - name: Authorization
          in: header
          description: Authorization to access the services, eg:xodWPwGDhi8cGLh3FEFBgBTKhRklJFAk
          required: true
          type: string
        - name: app_id
          in: path
          description: Id of the Wechat Mini App Platform app
          required: true
          type: string
        - name: limit
          in: query
          description: Limit the count of the return items
          required: false
          type: integer
        - name: offset
          in: query
          description: The start of the return items
          required: false
          type: integer
        - name: order_by
[...]
